doctype html
head
  title TW SG Away Day 2015
  link(rel="stylesheet", type="text/css", href="style.css")
body
  #container
    .introduction You are cordially invited to

    .logo-container
      .title
        | Thoughtworks Singapore
        strong Away Day 2015

      .logo
        img(src="assets/logo.svg", alt="can!")
      .tagline Cannot also can

    .invitation
      | Please make your presence known
      .date 18:00, Friday 22 May
      | at
      .location Changi Cove, Singapore

    a RSVP at https://2015.twawayday.sg

    script(type="text/javascript", src="script.js")