doctype html
head
  title TW SG Away Day 2015
  link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,700,300,600,400', rel='stylesheet', type='text/css')
  link(rel="stylesheet", type="text/css", href="style.css")
body
  #container
    img(src="assets/logo.png", alt="logo", style="max-width:100%;height:auto;")
    .dictionary-quote
      .title 
        strong Can 
        | [kan; 
        em unstressed kuh n 
        | ] 
      .description 
        ol
          li to be able to; have the ability, power, or skill to
          li to know how to
          li to have the power or means to

      .proper-usages
        .title proper usage:
        | Can lah? 
        em [Can you or can't you?]
        | , Can lah 
        em [Yes.],
        | Can lor
        em [Can you or can't you?]
        | , Can lah 
        em [Yes.],
        | Can can 
        em [It will be done, no matter how impossible].

      .examples
        .title Examples:
        | "100% utilisation? Can can. Cannot also can lah."


  script(type="text/javascript", src="script.js")