doctype html
head
  title TW SG Away Day 2015
  link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,700,300,600,400', rel='stylesheet', type='text/css')
  link(rel="stylesheet", type="text/css", href="style.css")
body
  #container
    .introduction You are cordially invited to

    .logo-container
      .title
        | Thoughtworks Singapore 
        strong Away Day 2015
      
      .logo can!
      .tagline Cannot also can

    .invitation
      | Please make your presence known
      .date 18:00, Friday 22 May
      | at
      .location Changi Cove, Singapore

    a RSVP at https://2015.twawayday.sg

    script(type="text/javascript", src="script.js")