* {
  margin: 0;
  padding:  0;
  box-sizing: border-box;
}

body {
  font-family: "OpenSans", sans-serif;
  min-height: 100vh;
  background: gray;
  font-size: 70px;
  background-image: url("assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#container {
  width: 40%;
  float: right;
  margin-right: 10%;
  background: rgba(255, 255, 255, 0.90);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  min-height: calc(100vh);
  padding: 2em 0;
}

.introduction {
  font-style: italic;
  font-weight: 300;
  font-size: 1rem;
}

.title {
  font-size: 1.9rem;
  font-size: 300;

  strong {
    display: block;
    font-size: 3.3rem;
    font-weight: 800;
  }
}

.logo {
  margin: 10px 0;
  padding: 80px 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 27rem;
}

.tagline {
  font-style: italic;
  font-weight: 300;
  font-size: 1.1rem;
}

.invitation {
  font-weight: 300;
  font-size:  1.2rem;
  line-height: 2.5rem;

  .date,
  .location {
    font-weight: 800;
    font-size: 1.5rem;
  }
}

a {
  padding: 10px 30px;
  background: #cf2424;
  color: white;
  font-size: 1.2rem;
  font-weight: 300;
  font-style: italic;
}