* * {
  margin: 0 0;
  padding:  0 0;
  box-sizing: border-box;
}

body {
  font-family: "OpenSans", sans-serif;
}

#container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dictionary-quote {
  max-width: 600px;
  width: 100%;
  padding: 0 40px;
  .title {
    font-size: 1.5rem;
  }

  .description {
    font-style: italic;
  }
}
